/* ------ */
/* loader */
/* ------ */

screen_protector {
	position: fixed;
	z-index: 111;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

loader {
	position: fixed;
	z-index: 999;
	display: flex;
	visibility: hidden;
	justify-content: center;
	align-items: center;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: #fff;
}

loader.--active {
	visibility: visible;
	left: 0;
}

loader div {
	display: flex;
}

loader span {
	align-self: center;
	animation-name: loader;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	width: 200px;
	height: 80px;
	margin-bottom: 40px;
	background-image: var(--loader-image-url);
}
