/* ========== */
/* queue-card	*/
/* ========== */

.content__columns__queue-container {
	max-width: 650px;
	flex-basis: 50%;
	padding: 0 20px;
}
@media screen and (max-width: 920px) {
	.content__columns__queue-container {
		max-width: none;
	}
}

.queue-card {
	display: flex;
	margin: 10px 0;
	padding: 10px;
	background: #fff;
	box-shadow: 2px 2px 10px #ccc;
	user-select: none;
	border: solid 2px #333;
	overflow: hidden;
}
.queue-card:active {

}
.queue-card.priority-customer {
	border: dashed 10px;
}
.queue-card__ticket-ref {
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	flex-basis: 20%;
	background: #4978cc;
	color: #fff;
	font-size: 2em;
	font-weight: bold;
	cursor: pointer;
	padding: 0 10px;
}
.queue-card__ticket-ref:active {
	transform: scale(.95);
}
.queue-card__row-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin-left: 20px;
}
.queue-card__row-container__delete-customer-ctrl {
	flex-grow: 0;
	cursor: pointer;
	background: crimson;
	color: #fff;
	margin-left: 10px;
}
.queue-card__row-container__delete-customer-ctrl:hover {	
	opacity: 0.7;
}
.queue-card__row-container__row, .queue-card__row-container__row__set-priority-customer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px 0;
}
.queue-card__row-container__row__set-priority-customer {
	color: crimson;
	margin-top: 10px;
	align-items: flex-end;
	cursor: pointer;
}
.queue-card__row-container__row__set-priority-customer:hover {
	text-decoration: underline;
}
.queue-card__row-container__row.overdue {
	color: crimson;
	font-weight: bold;
	background: #fff;
	border: solid 1px crimson;
}
.queue-card__row-container__row [customer-service-info] {
	font-size: 1.2em;
	padding: 0 5px;
}
.queue-card__row-container__row [customer-wait-time-estimate-info] {
	padding: 0 5px;
}
.queue-card__row-container__row:nth-of-type(even) {
	background: #eee;
	border: solid 1px #444;
}
.queue-card__row-container__row.overdue:nth-of-type(even) {
	color: crimson;
	font-weight: bold;
	background: #fff;
	border: solid 1px crimson;
}
.queue-card__row-container__row__customer-name {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.2em;
	font-weight: bold;
	color: #333;
	padding: 5px;
}
.queue-card__row-container__row__customer-name [customer-name] {
	flex-grow: 1;
}
.queue-card__row-container__row__customer-name [customer-wait-time] {
	margin-left: 5px;
}
