@keyframes push {
	from {
		transform: scale(1);
		box-shadow: 10px 0 15px #999;
	}
	to {
		transform: scale(0.95);
		box-shadow: 0 0 0 #999;
	}
}
@keyframes staff_card_updated {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes loader {
	0% {
		transform: rotateY(360deg) rotateX(0deg);
	}
	100% {
		transform: rotateY(0deg) rotateX(0deg);
	}
}
@keyframes slideInFromRight {
	0%{
		transform: translateX(100%);
	}
	100% {
		transform: translate(0%);
	}
}
