/* --------- */
/* variables */
/* --------- */

:root {
	--on-break-color: hotpink;
	--available-color: #5ab35a;
	--busy-color: #ff475c;
	--awol-color: cornflowerblue;

	--button-color-default: #16a1d8;
	--button-color-default__HOVER:  #29baf1;
	--button-color-serve-next: #5ab35a;
	--button-color-serve-next__HOVER: #7aca7a;
	--button-color-finish-serving: crimson;
	--button-color-finish-serving__HOVER: #ff475c;
	--button-color-set-busy: crimson;
	--button-color-set-busy__HOVER: #ff475c;
	--button-color-set-free: #5ab35a;
	--button-color-set-free__HOVER: #7aca7a;
	--button-color-start-shift: #5ab35a;
	--button-color-start-shift__HOVER: #7aca7a;
	--button-color-end-shift: crimson;
	--button-color-end-shift__HOVER: #ff475c;

	--loader-image-url: url("https://www.bookingbug.co.uk/assets/logo-6f5ee3edf858378308b883742635e51245afbdd9953403dc16d48e15d86b60f7.png");
}

/* ------ */
/* global */
/* ------ */

* {
	box-sizing: border-box;
}

[hidden], [template] {
	display: none !important;
}

body {
	margin: 0 auto;
	font: normal 16px calibri, sans-serif;
	color: #111;
}

/* ------ */
/* loader */
/* ------ */

screen_protector {
	position: fixed;
	z-index: 111;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

loader {
	position: fixed;
	z-index: 999;
	display: flex;
	visibility: hidden;
	justify-content: center;
	align-items: center;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: #fff;
}

loader.--active {
	visibility: visible;
	left: 0;
}

loader div {
	display: flex;
}

loader span {
	align-self: center;
	animation-name: loader;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	width: 200px;
	height: 80px;
	margin-bottom: 40px;
	background-image: var(--loader-image-url);
}

input, textarea, select, button {
	font-family: calibri, sans-serif;
}

input[type=text], input[type=email] {
	padding: 10px;
	font-size: 1em;
	border: none;
	/* outline: none; */
}

input[type=checkbox] {
	transform: scale(1.5);
	cursor: pointer;
}

select {
	font-size: 1em;
	border: none;
	padding: 10px;
	cursor: pointer;
	background: #fff;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	/* outline-color: #333; */
	/* border-radius: 2px; */
	padding: 8px;
	font-size: 1em;
	background: #16a1d8;
	color: #fff;
	cursor: pointer;
	user-select: none;
	box-shadow: 2px 2px 15px #bbb;
	transition: background .2s;
}
button:hover {
	background: var(--button-color-default__HOVER);
	/* transform: scale(1.1); */
}
button:active {
	background: #29baf1;
	transform: scale(.95);
	box-shadow: 2px 2px 5px #bbb;
}
button i.material-icons {
	margin-right: 5px;
}
button.cancel {
	background: var(--button-color-finish-serving);
}
button.cancel:hover, button.cancel:active {
	background: var(--button-color-finish-serving__HOVER);
}

.font-size-s {
	font-size: 0.5em;
}
.font-size-m {
	font-size: 1.5em;
}
.font-size-l {
	font-size: 2em;
}
.font-size-xl {
	font-size: 3em;
}
.font-size-xxl {
	font-size: 6em;
}

.justify-content-center {
	justify-content: center;
}
.min-width-auto {
	min-width: auto;
}
.flex-grow-0 {
	flex-grow: 0;
}

/* =============== * /
/* super-container */
/* =============== */

.super-container {
	display: flex;
	justify-content: center;
	user-select: none;
	background-color: #eee;
	background-image: url("../images/queues_cover-2.jpg");
	/* background-image: url("http://projectyogisha.com/wp-content/uploads/2016/09/queues_cover-2.jpg"); */
	background-position: center;
	background-size: cover;
	background-repeat: repeat-y;
	/* background-blend-mode: soft-light; */
	overflow-y: auto;
	min-height: calc(100vh - 250px);
}


/* ================= * /
/* content-container */
/* ================= */

.content-container {
	flex-grow: 1;
	padding: 5px;
	/* max-width: 1280px; */
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 20px;
}

/* =================== */
/* switch column ctrls */
/* =================== */

.switch-column-order-ctrls {
	display: flex;
	justify-content: center;
	width: 50%;
	margin-top: 10px;
}
@media screen and (max-width: 920px) {
	.switch-column-order-ctrls {
		width: 100%;
	}
}
.switch-column-order-ctrls__ctrl {
	color: #333;
	cursor: pointer;
}
.switch-column-order-ctrls__ctrl:hover {
	color: #666;
}
.switch-column-order-ctrls__ctrl i.material-icons {
	font-size: 36px;
}

/* ========================== */
/* staff customer filter info */
/* ========================== */

.staff-customer-filter-info {
	display: none;
	align-items: center;
	justify-content: center;
	padding: 10px 0;
	background: lightgoldenrodyellow;
	color: darkgoldenrod;
}

.staff-customer-filter-info.--active {
	display: flex;
}
/* =============== */
/* content columns */
/* =============== */

/* columns */
.content__columns {
	display: flex;
	overflow: hidden;
	justify-content: space-between;
	margin-bottom: 100px;
}
@media screen and (max-width: 920px) {
	.content__columns {
		flex-direction: column;
	}
}
