/* --------- */
/* variables */
/* --------- */

:root {
	--on-break-color: hotpink;
	--available-color: #5ab35a;
	--busy-color: #ff475c;
	--awol-color: cornflowerblue;

	--button-color-default: #16a1d8;
	--button-color-default__HOVER:  #29baf1;
	--button-color-serve-next: #5ab35a;
	--button-color-serve-next__HOVER: #7aca7a;
	--button-color-finish-serving: crimson;
	--button-color-finish-serving__HOVER: #ff475c;
	--button-color-set-busy: crimson;
	--button-color-set-busy__HOVER: #ff475c;
	--button-color-set-free: #5ab35a;
	--button-color-set-free__HOVER: #7aca7a;
	--button-color-start-shift: #5ab35a;
	--button-color-start-shift__HOVER: #7aca7a;
	--button-color-end-shift: crimson;
	--button-color-end-shift__HOVER: #ff475c;

	--loader-image-url: url("https://www.bookingbug.co.uk/assets/logo-6f5ee3edf858378308b883742635e51245afbdd9953403dc16d48e15d86b60f7.png");
}

/* ------ */
/* global */
/* ------ */

* {
	box-sizing: border-box;
}

[hidden], [template] {
	display: none !important;
}

body {
	margin: 0 auto;
	font: normal 16px calibri, sans-serif;
	color: #111;
}

/* ------ */
/* loader */
/* ------ */

screen_protector {
	position: fixed;
	z-index: 111;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

loader {
	position: fixed;
	z-index: 999;
	display: flex;
	visibility: hidden;
	justify-content: center;
	align-items: center;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: #fff;
}

loader.--active {
	visibility: visible;
	left: 0;
}

loader div {
	display: flex;
}

loader span {
	align-self: center;
	animation-name: loader;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	width: 200px;
	height: 80px;
	margin-bottom: 40px;
	background-image: var(--loader-image-url);
}

input, textarea, select, button {
	font-family: calibri, sans-serif;
}

input[type=text], input[type=email] {
	padding: 10px;
	font-size: 1em;
	border: none;
	/* outline: none; */
}

input[type=checkbox] {
	transform: scale(1.5);
	cursor: pointer;
}

select {
	font-size: 1em;
	border: none;
	padding: 10px;
	cursor: pointer;
	background: #fff;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	/* outline-color: #333; */
	/* border-radius: 2px; */
	padding: 8px;
	font-size: 1em;
	background: #16a1d8;
	color: #fff;
	cursor: pointer;
	user-select: none;
	box-shadow: 2px 2px 15px #bbb;
	transition: background .2s;
}
button:hover {
	background: var(--button-color-default__HOVER);
	/* transform: scale(1.1); */
}
button:active {
	background: #29baf1;
	transform: scale(.95);
	box-shadow: 2px 2px 5px #bbb;
}
button i.material-icons {
	margin-right: 5px;
}
button.cancel {
	background: var(--button-color-finish-serving);
}
button.cancel:hover, button.cancel:active {
	background: var(--button-color-finish-serving__HOVER);
}

.font-size-s {
	font-size: 0.5em;
}
.font-size-m {
	font-size: 1.5em;
}
.font-size-l {
	font-size: 2em;
}
.font-size-xl {
	font-size: 3em;
}
.font-size-xxl {
	font-size: 6em;
}

.justify-content-center {
	justify-content: center;
}
.min-width-auto {
	min-width: auto;
}
.flex-grow-0 {
	flex-grow: 0;
}

/* =============== * /
/* super-container */
/* =============== */

.super-container {
	display: flex;
	justify-content: center;
	user-select: none;
	background-color: #eee;
	background-image: url("../images/queues_cover-2.jpg");
	/* background-image: url("http://projectyogisha.com/wp-content/uploads/2016/09/queues_cover-2.jpg"); */
	background-position: center;
	background-size: cover;
	background-repeat: repeat-y;
	/* background-blend-mode: soft-light; */
	overflow-y: auto;
	min-height: calc(100vh - 250px);
}

/* ======= */
/* nav-bar */
/* ======= */

.nav-bar-wrapper {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	user-select: none;
	background: #fff;
}
.nav-bar-wrapper__form {
	display: flex;
	background: #fff;
	height: 0;
	/*transform: translateY(-100%) scale(.5);*/
	transform: translateY(-100%);
	opacity: 0;
	padding-left: 10px;
	padding-right: 10px;
	overflow: auto;
	/*transition: all .25s;*/
}
.nav-bar-wrapper__form.--active {
	/*transform: translateY(0) scale(1);*/
	transform: translateY(0);
	opacity: 1;
}
.nav-bar-wrapper__form__items {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 10px;
}
.nav-bar-wrapper__form__items__item {
	display: flex;
	flex-direction: row-reverse;
}
.nav-bar-wrapper__form__items__item label {
	cursor: pointer;
}
.nav-bar-wrapper__form__items label, .nav-bar-wrapper__form__items input, .nav-bar-wrapper__form__items select {
	/* margin-top: 10px; */
	margin-right: 5px;
	flex-shrink: 0;
	flex-grow: 1;
}
.nav-bar-wrapper__form:not(:nth-of-type(2)) .nav-bar-wrapper__form__items label {
	min-width: 80px;
	text-align: right;
}
.nav-bar-wrapper__form__items.submit-form-ctrl {
	justify-content: center;
	margin: auto;
	/* width: 65%; */
}
.nav-bar-wrapper__form__items.submit-form-ctrl button {
	flex-basis: 100%;
}
.nav-bar-wrapper__form__title {
	font-size: 1.5em;
	font-weight: bold;
	color: #777;
	width: 100%;
	text-align: center;
}
.nav-bar-wrapper__form.add-customer, .nav-bar-wrapper__form.create-queue {
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #eee;
}
.nav-bar-wrapper__form form {
	margin: auto;
	margin-bottom: 10px;
}
.nav-bar-wrapper__form.add-customer .nav-bar-wrapper__form__items {

}
.nav-bar-wrapper__form__items.service-checkbox-items {
	margin-top: 10px;
	padding: 10px 0;
}
.nav-bar-wrapper__form.create-queue.--active {
	height: 280px;
}
.nav-bar-wrapper__form.create-queue form {
	/* width: 65%; */
}
.nav-bar-wrapper__form.add-customer.--active {
	height: 280px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.nav-bar-wrapper__form.switch-queue{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	overflow: auto;
	background: #eee;
}
.nav-bar-wrapper__form.switch-queue.--active {
	height: 280px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.switch-queue__item {
	display: flex;
	align-items: center;
	/*flex-grow: 1;*/
	justify-content: center;
	background: #fff;
	color: cornflowerblue;
	/*border: solid 3px cornflowerblue;*/
	padding: 20px;
	margin: 5px;
	cursor: pointer;
	box-shadow: 5px 5px 15px #ccc;
	user-select: none;
	font-size: 1.5em;
}
.switch-queue__item.--active {
	animation-name: push;
	animation-fill-mode: forwards;
	animation-duration: .25s;
	animation-delay: 1ms;

	background: cornflowerblue;
	color: #fff;
	border-color: cornflowerblue;
}
.nav-bar-wrapper__nav-bar {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	z-index: 999;
	box-shadow: 0 5px 25px #555;
	padding: 10px;
	/* background: #fff;
	color: cornflowerblue; */
	box-shadow: 0 5px 25px #ccc;
	/* border: solid 0;
	border-top-width: 3px; */

	background: #333;
	color: #eee;

}
.nav-bar__ctrl {
	display: flex;
	flex-shrink: 0;
	margin-left: 20px;
	padding: 10px;
	align-items: center;
	align-self: stretch;
	cursor: pointer;
	/* transition: transform .25s; */
}
.nav-bar__ctrl:hover {
	background: #222;
	transform: scale(1.1);
}
/*.nav-bar__ctrl div:hover {
	text-decoration: underline;
}*/
.nav-bar__ctrl.--active {
	/*color: #273a5a;*/
	font-weight: bold;
	background: #222;
	transform: scale(1.1);
}
.nav-bar__info {
	flex-grow: 1;
}
.nav-bar__info__queue {
	display: flex;
	align-items: center;
	font-size: 1.8em;
	font-weight: bold;
}
.nav-bar__info__queue-name {
	margin-right: 10px;
}
.nav-bar__info__queue i, .nav-bar__info__queue span {
	padding: 0 5px;
}
.nav-bar__info__queue-count {

}
.nav-bar__info__datetime {
	padding-top: 5px;
}
.nav-bar__info__services {
	box-shadow: 0px 5px 25px #555;
	padding: 10px;
	background: #ddd;
}
.nav-bar__ctrl i.material-icons {
	font-size: 24px;
	margin-right: 5px;
}

@media screen and (max-width: 850px) {
	.nav-bar-wrapper__nav-bar {
		flex-direction: column;
	}
	.nav-bar__info {
		margin-bottom: 20px;
	}
	.nav-bar__info__datetime {
		text-align: center;
	}
	.nav-bar__ctrl {
		display: flex;
		justify-content: center;
	}
}
/* ================= * /
/* content-container */
/* ================= */

.content-container {
	flex-grow: 1;
	padding: 5px;
	/* max-width: 1280px; */
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 20px;
}

/* =================== */
/* switch column ctrls */
/* =================== */

.switch-column-order-ctrls {
	display: flex;
	justify-content: center;
	width: 50%;
	margin-top: 10px;
}
@media screen and (max-width: 850px) {
	.switch-column-order-ctrls {
		width: 100%;
	}
}
.switch-column-order-ctrls__ctrl {
	color: #333;
	cursor: pointer;
}
.switch-column-order-ctrls__ctrl:hover {
	color: #666;
}
.switch-column-order-ctrls__ctrl i.material-icons {
	font-size: 36px;
}

/* ========================== */
/* staff customer filter info */
/* ========================== */

.staff-customer-filter-info {
	display: none;
	align-items: center;
	justify-content: center;
	padding: 10px 0;
	background: lightgoldenrodyellow;
	color: darkgoldenrod;
}

.staff-customer-filter-info.--active {
	display: flex;
}
/* =============== */
/* content columns */
/* =============== */

/* columns */
.content__columns {
	display: flex;
	overflow: hidden;
	justify-content: space-between;
	margin-bottom: 100px;
}
@media screen and (max-width: 850px) {
	.content__columns {
		flex-direction: column;
	}
}

/* ========== */
/* staff-card	*/
/* ========== */

.content__columns__staff-container {
	flex-grow: 1;
	flex-basis: 50%;
	padding: 0 20px;
}

.staff-card {
	display: flex;
	flex-direction: column;
	margin: 10px 0;
	/* padding: 10px; */
	background: #fff;
	/* box-shadow: 2px 2px 25px #555; */
	/* box-shadow: 2px 2px 10px #ccc; */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	user-select: none;
	border: solid 0 #fff;
	border-top-width: 5px;
	padding-bottom: 10px;
}
.staff-card.available {
	border-color: var(--available-color);
}
.staff-card.on-break {
	border-color: var(--on-break-color);
}
.staff-card.awol {
	border-color: var(--awol-color);
}
.staff-card.busy {
	border-color: var(--busy-color);
}

.staff-card__row__header {
	display: flex;
	align-items: center;
	/*background: #fff;*/
	padding: 5px;
	margin: 0 10px;
}
.staff-card__row__header__avatar {
	width: 44px;
	height: 44px;
	align-self: baseline;
	flex-shrink: 0;
	border: solid 2px #333;
	margin-right: 10px;
	cursor: pointer;
	box-shadow: 0px 2px 10px #555;
}
.staff-card__row__header__avatar:active {
	transform: scale(.95);
	box-shadow: 0px 2px 5px #555;
}

.staff-card__row__header__appointment-info {
	display: flex;
	flex-direction: column;
	/*flex-grow: 1;*/
}
.staff-card__row__header__appointment-info__item {
	margin-top: 5px;
	color: #333;
}
.staff-card__row__header__appointment-info__item[staff-member-name] {
	/*flex-grow: 1;*/
	font-size: 1.5em;
	font-weight: bold;
	color: #333;
}
.staff-card__row__header__appointment-info__item[staff-member-status] {
	align-self: flex-start;
	margin-top: 5px;
	border: solid 1px #444;
	padding: 5px;
	font-weight: bold;
}
.staff-card__row__header__appointment-info__item[staff-member-status].awol {
	color: var(--awol-color);
	border-color: var(--awol-color);
}
.staff-card__row__header__appointment-info__item[staff-member-status].available {
	color: var(--available-color);
	border-color: var(--available-color);
}
.staff-card__row__header__appointment-info__item[staff-member-status].on-break {
	color: var(--on-break-color);
	border-color: var(--on-break-color);
}
.staff-card__row__header__appointment-info__item[staff-member-status].busy {
	color: var(--busy-color);
	border-color: var(--busy-color);
}
.staff-card__row__header__ctrls-wrapper {
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
	align-self: stretch;
	padding: 5px;
}
.staff-card__row__header__ctrl {
	margin-left: 10px;
	/*align-self: flex-end;*/
}
.staff-card__row__header__ctrl button {
	height: 100%;
}
.staff-card__row__header__ctrl button[start-shift-ctrl] {
	background: var(--button-color-start-shift);
}
.staff-card__row__header__ctrl button[start-shift-ctrl]:hover {
	background: var(--button-color-start-shift__HOVER);
}
.staff-card__row__header__ctrl button[end-shift-ctrl] {
	background: var(--button-color-end-shift);
}
.staff-card__row__header__ctrl button[end-shift-ctrl]:hover {
	background: var(--button-color-end-shift__HOVER);
}
.staff-card__row__header__ctrl button[serve-next-ctrl] {
	background: var(--button-color-serve-next);
}
.staff-card__row__header__ctrl button[serve-next-ctrl]:hover {
	background: var(--button-color-serve-next__HOVER);
}
.staff-card__row__services-info {
	background: #eee;
	margin: 0 10px;
	height: 0;
	overflow: hidden;
	padding: 0 5px;
	transition: all .25s;
}
.staff-card:active > .staff-card__row__services-info {
	height: 50px;
	padding: 5px;
}
.staff-card__row__services-info__item {

}
.staff-card__row__appointment-info {
	background: #fff;
	color: #333;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
	margin: 0 10px;
	display: none;
}
.staff-card__row__appointment-info.--active {
	display: flex;
}
.staff-card__row__appointment-info.overdue {
	color: crimson;
	font-weight: bold;
}
.staff-card__row__appointment-info__item {
	display: flex;
	align-items: center;
}
.staff-card__row__appointment-info__item i {
	margin-right: 5px;
}
.staff-card__row__next-appointment-info {
	background: paleturquoise;
	margin: 0 10px 10px 10px;
	height: 0;
	padding: 0 5px;
	overflow: hidden;
	transition: all .25s;
}
.staff-card:active > .staff-card__row__next-appointment-info {
	height: auto;
	padding: 5px;
}
.staff-card__row__next-appointment-info.updated {
	animation-name: staff_card_updated;
	animation-duration: 2s;
}
.staff-card__row__next-appointment-info__item {

}

/* ========== */
/* queue-card	*/
/* ========== */

/* .zooq__animation__SLIDE_IN_FROM_RIGHT {
	animation-name: slideInFromRight;
	animation-duration: .5s;
} */
/* .zooq__animation__CUSTOMER__DELETE {
	animation-name: slideOutToRight;
	animation-duration: .5s;
	animation-fill-mode: both;
} */

.content__columns__queue-container {
	max-width: 650px;
	flex-basis: 50%;
	padding: 0 20px;
}
@media screen and (max-width: 850px) {
	.content__columns__queue-container {
		max-width: none;
	}
}

.queue-card {
	display: flex;
	margin: 10px 0;
	padding: 10px;
	background: #fff;
	box-shadow: 2px 2px 10px #ccc;
	user-select: none;
	border: solid 2px #333;
	overflow: hidden;
}
.queue-card:active {
	/* transform: scale(.95);
	box-shadow: 1px 1px 5px #aaa; */
}
.queue-card.priority-customer {
	/* border: dashed 5px hotpink; */
	border: dashed 10px;
}
.queue-card__ticket-ref {
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	flex-basis: 20%;
	background: #4978cc;
	color: #fff;
	font-size: 2em;
	font-weight: bold;
	cursor: pointer;
	padding: 0 10px;
	/* box-shadow: 0px 2px 15px #555; */
}
.queue-card__ticket-ref:active {
	transform: scale(.95);
	/* box-shadow: 0px 2px 5px #555; */
}
.queue-card__row-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin-left: 20px;
}

/* .queue-card__row-container__toggle-hidden {
	transition: all .25s;
	height: 0;
	transform: scale(1, 0);
	transform-origin: top;
} */
/* .queue-card:hover .queue-card__row-container__toggle-hidden {
	height: 110px;
	transform: scale(1, 1);
} */

.queue-card__row-container__delete-customer-ctrl {
	flex-grow: 0;
	/* align-self: baseline; */
	cursor: pointer;
	/* color: #ccc; */
	background: crimson;
	color: #fff;
	margin-left: 10px;
}
.queue-card__row-container__delete-customer-ctrl:hover {
	/* color: #aaa; */
	opacity: 0.7;
}
.queue-card__row-container__row, .queue-card__row-container__row__set-priority-customer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px 0;
}
.queue-card__row-container__row__set-priority-customer {
	color: crimson;
	margin-top: 10px;
	align-items: flex-end;
	cursor: pointer;
}
.queue-card__row-container__row__set-priority-customer:hover {
	text-decoration: underline;
}
.queue-card__row-container__row.overdue {
	color: crimson;
	font-weight: bold;
	background: #fff;
	border: solid 1px crimson;
}
.queue-card__row-container__row [customer-service-info] {
	font-size: 1.2em;
	padding: 0 5px;
}
.queue-card__row-container__row [customer-wait-time-estimate-info] {
	padding: 0 5px;
}
.queue-card__row-container__row:nth-of-type(even) {
	background: #eee;
	border: solid 1px #444;
}
.queue-card__row-container__row.overdue:nth-of-type(even) {
	color: crimson;
	font-weight: bold;
	background: #fff;
	border: solid 1px crimson;
}
.queue-card__row-container__row__customer-name {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.2em;
	font-weight: bold;
	color: #333;
	padding: 5px;
}
.queue-card__row-container__row__customer-name [customer-name] {
	flex-grow: 1;
}
.queue-card__row-container__row__customer-name [customer-wait-time] {
	margin-left: 5px;
}

/* ===== */
/* alert */
/* ===== */

alert.alert {
	position: fixed;
	bottom: -100px;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	/* padding: 10px; */
	/* background: firebrick; */
	background: #ccc;
	color: #444;
	/* opacity: .8; */
	box-shadow: 0 -5px 25px 0 #555;
	transition: all .25s;
}
alert.alert.--active {
	bottom: 0;
}
alert .alert__notify-row {
	/* width: 100%;
	text-align: center; */
	display: flex;
	justify-content: center;
	align-self: stretch;
	background: #fff;
	color: #222;
	padding: 10px;
}
alert .alert__message-row {
	padding: 10px;
}
alert .alert__message {
	font-size: 1.5em;
}
