/* ======= */
/* nav-bar */
/* ======= */

.nav-bar-wrapper {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	user-select: none;
	background: #fff;
}
.nav-bar-wrapper__form {
	display: flex;
	background: #fff;
	height: 0;
	/*transform: translateY(-100%) scale(.5);*/
	transform: translateY(-100%);
	opacity: 0;
	padding-left: 10px;
	padding-right: 10px;
	overflow: auto;
	/*transition: all .25s;*/
}
.nav-bar-wrapper__form.--active {
	/*transform: translateY(0) scale(1);*/
	transform: translateY(0);
	opacity: 1;
}
.nav-bar-wrapper__form__items {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 10px;
}
.nav-bar-wrapper__form__items__item {
	display: flex;
	flex-direction: row-reverse;
}
.nav-bar-wrapper__form__items__item label {
	cursor: pointer;
}
.nav-bar-wrapper__form__items label, .nav-bar-wrapper__form__items input, .nav-bar-wrapper__form__items select {
	/* margin-top: 10px; */
	margin-right: 5px;
	flex-shrink: 0;
	flex-grow: 1;
}
.nav-bar-wrapper__form:not(:nth-of-type(2)) .nav-bar-wrapper__form__items label {
	min-width: 80px;
	text-align: right;
}
.nav-bar-wrapper__form__items.submit-form-ctrl {
	justify-content: center;
	margin: auto;
	/* width: 65%; */
}
.nav-bar-wrapper__form__items.submit-form-ctrl button {
	flex-basis: 100%;
}
.nav-bar-wrapper__form__title {
	font-size: 1.5em;
	font-weight: bold;
	color: #777;
	width: 100%;
	text-align: center;
}
.nav-bar-wrapper__form.add-customer, .nav-bar-wrapper__form.create-queue {
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #eee;
}
.nav-bar-wrapper__form form {
	margin: auto;
	margin-bottom: 10px;
}
.nav-bar-wrapper__form.add-customer .nav-bar-wrapper__form__items {

}
.nav-bar-wrapper__form__items.service-checkbox-items {
	margin-top: 10px;
	padding: 10px 0;
}
.nav-bar-wrapper__form.create-queue.--active {
	height: 280px;
}
.nav-bar-wrapper__form.create-queue form {
	/* width: 65%; */
}
.nav-bar-wrapper__form.add-customer.--active {
	height: 280px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.nav-bar-wrapper__form.switch-queue{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	overflow: auto;
	background: #eee;
}
.nav-bar-wrapper__form.switch-queue.--active {
	height: 280px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.switch-queue__item {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	/*flex-grow: 1;*/
	justify-content: center;
	background: #fff;
	color: cornflowerblue;
	/*border: solid 3px cornflowerblue;*/
	padding: 20px;
	margin: 5px;
	cursor: pointer;
	box-shadow: 5px 5px 15px #ccc;
	user-select: none;
	font-size: 1.5em;
}
.switch-queue__item.--active {
	animation-name: push;
	animation-fill-mode: forwards;
	animation-duration: .25s;
	animation-delay: 1ms;

	background: cornflowerblue;
	color: #fff;
	border-color: cornflowerblue;
}
.switch-queue__item__name {

}
.switch-queue__item__created-at {
	font-size: 16px;
}
.nav-bar-wrapper__nav-bar {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	z-index: 999;
	box-shadow: 0 5px 25px #555;
	padding: 10px;
	/* background: #fff;
	color: cornflowerblue; */
	box-shadow: 0 5px 25px #ccc;
	/* border: solid 0;
	border-top-width: 3px; */

	background: #333;
	color: #eee;

}
.nav-bar__ctrls-wrapper {
	display: flex;
}
.nav-bar__ctrl {
	display: flex;
	flex-shrink: 0;
	margin-left: 20px;
	padding: 10px;
	align-items: center;
	align-self: stretch;
	cursor: pointer;
	/* transition: transform .25s; */
}
.nav-bar__ctrl:hover {
	/* background: #222; */
	transform: scale(1.1);
}
/*.nav-bar__ctrl div:hover {
	text-decoration: underline;
}*/
.nav-bar__ctrl.--active {
	/*color: #273a5a;*/
	font-weight: bold;
	/* background: #222; */
	transform: scale(1.1);
}
.nav-bar__info {
	flex-grow: 1;
}
.nav-bar__info__queue {
	display: flex;
	align-items: center;
	font-size: 1.8em;
	font-weight: bold;
}
.nav-bar__info__queue-name {
	margin-right: 10px;
}
.nav-bar__info__queue i, .nav-bar__info__queue span {
	padding: 0 5px;
}
.nav-bar__info__queue-count {

}
.nav-bar__info__datetime {
	padding-top: 5px;
}
.nav-bar__info__services {
	box-shadow: 0px 5px 25px #555;
	padding: 10px;
	background: #ddd;
}
.nav-bar__ctrl i.material-icons {
	font-size: 24px;
	margin-right: 5px;
}

@media screen and (max-width: 920px) {
	.nav-bar-wrapper__nav-bar {
		flex-direction: column;
	}
	.nav-bar__info {
    /* align-self: stretch; */
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: solid 0 #fff;
	}
	.nav-bar__info__datetime {
		text-align: center;
	}
  .nav-bar__ctrls-wrapper {
    align-self: stretch;
    justify-content: center;
    border-top: solid 1px #555;
  }
	.nav-bar__ctrl {
		/* display: flex;
		justify-content: center; */
	}
}
